.track {
  user-select: none;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  height: 36px;
  text-align: start;
  align-items: center;
  display: flex;
  flex-direction: row;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  color: black;
  .likeButton_active {
    display: none;
  }
  .likeButton {
    display: none;
  }

  .index {
    position: relative;
    width: 20px;
    margin-bottom: 5px;
    padding-left: 15px;
    margin-right: 10px;
    color: #777;
  }
  .duration {
    padding-left: 20px;
    padding-right: 15px;
  }
  .trackInfo {
    display: flex;
    width: 300px;
    .title {
      width: 8vw;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .artist {
      display: inline-block;
      position: relative;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 6vw;
      height: 24px;
      padding-left: 20px;
      display: flex;
      flex-direction: row;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 400;
      color: #777;
    }
  }
  .pauseButton {
    cursor: pointer;
    display: none;
  }
  .controlButtonContainer:hover {
    color: white;
  }
  .playButton {
    display: none;
  }

  .playingTrackAnimationContainer {
    display: flex;
    position: relative;
    width: 20px;
    margin-left: 15px;
    margin-right: 8px;
    .playingTrackAnimation {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #6633cc;
      animation: pulse 1s ease-in-out infinite;
    }
  }
}
@keyframes pulse {
  0% {
    width: 12px;
    height: 12px;
  }
  50% {
    width: 6px;
    height: 6px;
  }
  100% {
    width: 12px;
    height: 12px;
  }
}

.track:hover {
  border: 2px solid #6633cc;
  position: relative;
  width: 100%;
  height: 36px;
  text-align: start;
  max-width: auto;
  align-items: center;
  display: flex;
  flex-direction: row;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  color: black;
  .index {
    display: none;
  }
  .duration {
    padding-left: 20px;
    padding-right: 15px;
  }
  .trackInfo {
    width: 320px;
    display: flex;
    .artist {
      display: inline-block;
      position: relative;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 5vw;
      height: 24px;
      display: flex;
      flex-direction: row;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 400;
    }
    .title {
      padding-left: 40px;
      width: 8vw;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .pauseButton {
    cursor: pointer;
    display: flex;
  }
  .controlButtonContainer:hover {
    color: white;
  }
  .controlButtonContainer {
    position: absolute;
    width: 27px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-left: 5px;
    background-color: #6633cc;
    border-radius: 50%;
    color: rgb(240, 240, 240);
    .playButton {
      display: inline;
      z-index: 1;
      margin-left: 3px;
      cursor: pointer;
    }
  }
  .playingTrackAnimationContainer {
    display: none;
  }
  .likeButton_active {
    cursor: pointer;
    display: flex;
    color: #5d6fe4;
  }
  .likeButton {
    cursor: pointer;
    display: flex;
    color: #a7a2a3;
  }
}
