.authContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://yastatic.net/s3/passport-auth-customs/customs/_/3KKm3Xek.jpg);
  .authLogo {
    width: 96px;
    height: 96px;
    margin-bottom: 48px;
  }
  .authForm {
    width: 380px;
    height: 600px;
    background-color: white;
    border-radius: 10%;
    box-shadow: 1px 1px 60px 3px rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .authFormField {
      text-align: 10px;
      display: flex;
      flex-direction: row;
      margin-bottom: 60px;
      border-radius: 10px;
      width: 275px;
      height: 45px;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 24px;
      font-weight: 500;
      border: 1px #a7a2a3 solid;
    }
    .authFormField:focus {
      border: 2px #6633cc solid;
      outline: none;
    }
    .authFieldName {
      margin-left: 3px;
      margin-top: 10px;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 20px;
      font-weight: 500;
    }
    .submitButton {
      outline: none;
      width: 275px;
      height: 40px;
      background-color: #6633cc;
      border: none;
      border-radius: 5px;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 24px;
      font-weight: 350;
      color: white;
    }
    .submitButton:hover {
      background-color: #855cd6;
      transition: 0.1s;
    }
  }
}
