.header {
  position: relative;
  display: flex;
  align-items: center;
  height: 45px;
  width: 100vw;
  position: sticky top;
  margin-top: 0;
  margin-bottom: 0;
  background-color: white;
  text-decoration: none;
  list-style: none;
  font-family: "Clear Sans", sans-serif;
  font-weight: 700;
  font-size: 15px;
  justify-content: space-around;
  a {
    position: relative;
    color: #a7a2a3;
    text-decoration: none;
    list-style-type: none;
  }
  *:hover {
    cursor: pointer;
    color: #fc363b;
  }
  .exitButton {
    right: 18vw;
    position: absolute;
    color: #a7a2a3;
  }
}
