.userPlaylists {
  display: grid;
  grid-template-columns: repeat(4, 220px);
  justify-content: center;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  width: 50vw;
  height: 86.9vh;
  margin-bottom: 0;
  overflow-y: hidden;
  background-color: #fff;
}
