.rotorSettingsContainer {
  font-family: "Source Sans Pro", sans-serif;
  bottom: 70px;
  position: absolute;
  width: 600px;
  height: 320px;
  background-color: white;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  .radioButton {
    z-index: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 80px;
    height: 40px;
    border-radius: 20px;
  }
  .stationName {
    color: rgba(0, 0, 0, 0.8);
    font-size: 25px;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .settingsTitle {
    letter-spacing: 1px;
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    color: #a7a2a3;
  }
  .selector {
    left: 50px;
    position: absolute;
    z-index: 1;
    background-color: #855cd6;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 40px;
    border-radius: 20px;
  }

  .settings {
    position: relative;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 26px;
    background: white;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .settings.diversity {
    .radioButton {
      z-index: 0;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 10px;
      padding-right: 10px;
      width: 100px;
      height: 40px;
      border-radius: 20px;
    }
  }
  .settings.mood {
    .radioButton {
      z-index: 0;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 10px;
      padding-right: 10px;
      width: 80px;
      height: 40px;
      border-radius: 20px;
    }
  }
  .settings.language {
    .radioButton {
      z-index: 0;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 10px;
      padding-right: 10px;
      width: 120px;
      height: 40px;
      border-radius: 20px;
    }
    .selector {
      left: 70px;
    }
  }
}
