.title {
  font-family: "Source Sans Pro", sans-serif;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 400;
  color: black;
  text-decoration: none;
  list-style-type: none;
}
.title:hover {
  color: #fc363b;
}
.coverGrid {
  display: grid;
  grid-template-columns: repeat(2, 100px);
  margin-bottom: 4px;
}
.coverContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: flex-start;
  justify-content: center;
  height: 240px;
  user-select: none;
}
.cover {
  margin-bottom: 10px;
  background-color: transparent;
  .coverPlayButtonContainer {
    display: none;
    .coverPlayButton {
      display: none;
    }
  }
}
.coverContainer:hover {
  border: #6633cc solid 2px;
  .coverPlayButtonContainer {
    cursor: pointer;
    margin-top: 77.5px;
    margin-left: 77.5px;
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #6633cc;
    display: flex;
    justify-content: center;
    align-items: center;
    .coverPlayButton {
      margin-left: 3px;
      display: flex;
      color: white;
    }
  }
}
