.currentQueue {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #e5e5e5;
  .infoContainer {
    padding-bottom: 20px;
    background-color: white;
    width: 74vw;
    min-width: 1400px;
    border-bottom: #777 1px solid;
    padding-top: 20px;
    .closeButton {
      margin-left: 72%;
      margin-top: 5px;
      position: absolute;
      color: #a7a2a3;
      cursor: pointer;
    }
    .closeButton:hover {
      transition: 200ms;
      color: #222021;
    }
    .playlistInfo {
      margin-left: 22vw;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 22px;
      .playlistTitle {
        width: 100%;
        background-color: #fff;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 22px;
        font-weight: 400;
        margin-bottom: 20px;
        z-index: 2;
      }
      .defaultText {
        color: #777;
      }
    }
  }
  .playlist {
    /* overflow: visible !important; */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    overflow-y: scroll;
    height: 100vh;
    width: 74vw;
    min-width: 1400px;
    border-left: 1px solid #e5e5e5;
    background-color: #fff;
  }

  .tracks {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    text-align: start;
  }
  .track {
    position: relative;
    min-width: 25vw;
    height: 36px;
    text-align: start;
    max-width: auto;
    align-items: center;
    display: flex;
    flex-direction: row;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    .cover {
      position: absolute;
      z-index: 0;
      padding-left: 15px;
      padding-right: 65px;
    }
    .index {
      display: none;
      width: 20px;
      margin-left: 5px;
    }
    .duration {
      padding-left: 20px;
      padding-right: 15px;
    }
    .artist {
      padding-left: 20px;
      overflow: hidden;
      position: relative;
      min-width: 10vw;
      height: 24px;
      max-width: auto;
      display: flex;
      flex-direction: row;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 400;
      color: black;
    }
    .title {
      padding-left: 100px;
      width: 10vw;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .controlButtonContainer {
      position: absolute;
      z-index: 2;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 25px;
      color: #a7a2a3;
    }
    .playButton {
      z-index: -1;
      margin-left: 3px;
      cursor: pointer;
    }
    .pauseButton {
      cursor: pointer;
    }
    .controlButtonContainer:hover {
      color: black;
    }
  }

  .track:hover {
    border: 2px solid #6633cc;
  }
}
