.currentQueue {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #e5e5e5;
  animation: slide 0.3s forwards;
  .infoContainer {
    padding-bottom: 20px;
    background-color: white;
    min-width: 1400px;
    border-bottom: #777 1px solid;
    padding-top: 20px;
    .closeButton {
      margin-left: 1300px;
      margin-top: 5px;
      position: absolute;
      color: #a7a2a3;
      cursor: pointer;
    }
    .closeButton:hover {
      transition: 200ms;
      color: #222021;
    }
    .currentQueueInfo {
      margin-left: 22vw;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 22px;
      .playlistTitle {
        width: 100%;
        background-color: #fff;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 22px;
        font-weight: 400;
        margin-bottom: 20px;
        z-index: 2;
      }
      .defaultText {
        color: #777;
      }
    }
  }
  .playlist {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    overflow-y: scroll;
    height: calc(100vh - 150px);
    min-width: 1400px;
    border-left: 1px solid #e5e5e5;
    background-color: #fff;
    box-sizing: border-box;
    margin-right: 1px;
    padding-left: 2px;
  }
}
@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
