.header {
  position: relative;
  display: flex;
  align-items: center;
  height: 45px;
  width: 100vw;
  position: sticky top;
  margin-top: 0;
  margin-bottom: 0;
  background-color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 18px;
  justify-content: space-around;
  .contentContainer {
    width: 80%;
    display: flex;
    ul {
      margin-left: 18%;
      margin-right: 18%;
      display: flex;
      width: 100%;
      justify-content: space-between;
      text-decoration: none;
      list-style: none;
    }
    a {
      position: relative;
      color: #a7a2a3;
      text-decoration: none;
      list-style-type: none;
    }
    *:hover {
      cursor: pointer;
      color: #fc363b;
    }
    .exitButtonContainer:hover {
      .exitButton {
        cursor: pointer;
        color: #fc363b;
      }
    }
    .exitButtonContainer {
      .exitButton {
        color: #a7a2a3;
        margin-top: 18px;
        margin-right: 18%;
      }
    }
  }
}
