.User-Collection {
  display: flex;
  justify-content: center;
  max-width: 100%;
  overflow-y: hidden;
  background-color: #e5e5e5;
}
.Player-Container {
  height: 100vh;
}
.Content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.App::-webkit-scrollbar {
  width: 1px;
}
