.title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  color: black;
}
.coverGrid {
  display: grid;
  grid-template-columns: repeat(2, 100px);
  margin-bottom: 4px;
}
.coverContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: flex-start;
  justify-content: center;
  height: 240px;
  user-select: none;
}
.cover {
  margin-bottom: 10px;
  background-color: transparent;
  .coverPlayButtonContainer {
    width: 25px;
    height: 25px;
    background-color: #6633cc;
    .coverPlayButton {
    }
  }
}
.coverContainer:hover {
  border: #6633cc solid 2px;
}
