.title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  color: black;
}
.coverGrid {
  display: grid;
  grid-template-columns: repeat(2, 100px);
  margin-bottom: 4px;
}
.coverContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: flex-start;
  justify-content: center;
  height: 240px;
  user-select: none;
}
.cover {
  margin-bottom: 10px;
  background-color: transparent;
  .coverPlayButtonContainer {
    display: none;
    .coverPlayButton {
      display: none;
    }
  }
}
.coverContainer:hover {
  border: #6633cc solid 2px;
  .coverPlayButtonContainer {
    cursor: pointer;
    margin-top: 75px;
    margin-left: 75px;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #6633cc;
    display: flex;
    justify-content: center;
    align-items: center;
    .coverPlayButton {
      display: flex;
      color: white;
    }
  }
}
