.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
  height: calc(95vh - 78px);
  width: 440px;
  border-top: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  background-color: #fff;
  overflow-x: hidden;
  .sidebar_closeButton {
    size: 40px;
    position: absolute;
    left: 20vw;
    top: 10px;
    cursor: pointer;
    color: #a7a2a3;
  }
  .closeButton:hover {
    transition: 200ms;
    color: #222021;
  }
  .playlist {
    padding-left: 15px;
    .sidebar_collectionOwner {
      font-family: "Source Sans Pro", sans-serif;
      animation: slide 0.5s forwards;
      margin-bottom: 3px;
    }
    .sidebar_collectionTitle {
      font-family: "Source Sans Pro", sans-serif;
      font-size: 24px;
      font-weight: 400;
    }
  }
}

.sidebar_tracks {
  margin-top: 3px;
  margin-left: 1px;
  width: 99%;
  display: flex;
  flex-direction: column;
  text-align: start;
  animation: slide 0.3s forwards;
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@media (max-width: 800px) {
  .infoContainer {
    display: none;
  }
}
